[Unit]
Description=Gunicron server for SITENAME

[Service]
Restart=on-failure
User=ubuntu
WorkingDirectory=/home/ubuntu/sites/SITENAME
EnvironmentFile=/home/ubuntu/sites/SITENAME/.env

ExecStart=/home/ubuntu/sites/SITENAME/virtualenv/bin/gunicron --bind unix:/tmp/SITENAME.socket superlist.wsgi:application

[Install]
WanteBy=multi-user.target
